:root {
  --primary-text-color: black; 
  /* --primary-text-color: #89c303; */
  --secondary-text-color: white;
  /* --tertiary-text-color: rgb(52, 46, 46); */
  /* --tertiary-text-color: #f3ba40; */
  /* --tertiary-text-color: #0368a5; */
  --tertiary-text-color: #ed5e3e;
  --primary-background: #f2f4f5;
  --quaternary-text-color: #f2f4f5;
  --underline-color: #f1a1e3;
  --border: #626468;
  /* --underline-color: #f1a1e3; */
  /* font-family: 'Syne', sans-serif; */
  /* font-family: "adobe-garamond-pro"; */
  /* font-style: italic; */
  /* font-family: "Kaushan Script", serif; */

    /* The intrinsic width of the underline stroke (in pixels). This is 
     * the same as the height of the cap images. Don't specify the
     * units! This is because of some of the calculations we do later on. */
    --underline-intrinsic-width: 8;
    
    /* The actual width of the underline stroke we want to render (in pixels).
     * You can modify this, and the sizing and positioning should be calculated
     * accordingly. Again, Don't specify the units! */
    --underline-width: 12;
    
    /* The color used to draw the underline. It should match the color
     * used in the cap images... unfortunately we can't modify the SVG
     * fill via CSS because it's a background image. */
   
    
    /* We need to know the width of the cap images so that we
     * can position everything on the x axis accordingly. */
    --underline-cap-width: 4px;
    
    /* The border is positioned relative to the bottom of the line.
     * We can move it upwards a little to create an overlap effect. */
    --underline-offset-y: -2px;
    
    /* The padding to add to the x axis. By default, the caps would be
     * aligned with the beginning and end of the line. */
    --underline-padding-x: 0.12em;
    /* background-color: #f4f5f7; */
  }
   .font-syne {
    font-family: 'Syne', sans-serif;
   } 
  .text {
    display: inline;
    --underline-width-scale: calc(var(--underline-width) / var(--underline-intrinsic-width));
    padding: 0 calc(var(--underline-padding-x) + calc(var(--underline-cap-width) * var(--underline-width-scale)));
    box-decoration-break: clone;
    background-repeat: no-repeat;
    color: var(--primary-text-color);
    /* color: #32557f; */
    background-image:
      linear-gradient(180deg, var(--underline-color), var(--underline-color)),
      var(--cap-image-left),
      var(--cap-image-right);
    background-position-x:
      calc(var(--underline-cap-width) * var(--underline-width-scale)),
      0,
      100%;
    background-position-y: calc(100% - var(--underline-offset-y) * -1);
    background-size:
      calc(100% - calc(var(--underline-cap-width) * var(--underline-width-scale) * 2)) calc(var(--underline-width) * 1px),
      auto calc(var(--underline-width) * 1px),
      auto calc(var(--underline-width) * 1px);
      
    /* font-size: 3rem; */
    font-weight: bold;
    --underline-width: 20;
    --underline-offset-y: -2px;
    text-shadow: 1px 1px #fff;
    /* The cap images to use that form the left and right shape.*/
    --cap-image-left: url(https://files-6lc03kjqt.now.sh/left-2.svg);
    --cap-image-right: url(https://files-e7gkh52mq.now.sh/right-2.svg);
  }
      
html {
  font-family: "League Spartan", sans-serif;
  scroll-behavior: smooth;
}
.c-pointer {
  cursor: pointer;
}
.margin-height {
  margin-top: 160px !important;
}
.text-primary {
  color: var(--primary-text-color);
}
.text-secondary {
  color: var(--secondary-text-color);
}
.bg-text {
  color: var(--secondary-text-color) !important;
  background-color: var(--primary-text-color) !important;
}
.ellipsis {
  white-space: nowrap; /* Prevent text from wrapping to the next line */
  overflow: hidden; /* Hide the overflowing text */
  text-overflow: ellipsis; /* Display the ellipsis when text overflows */
}

@font-face {
  font-family: proxima-nova;
  src: url(https://use.typekit.net/af/153422/00000000000000007759c419/30/l?subset_id=2&fvd=n3&v=3)
      format("woff2"),
    url(https://use.typekit.net/af/153422/00000000000000007759c419/30/d?subset_id=2&fvd=n3&v=3)
      format("woff"),
    url(https://use.typekit.net/af/153422/00000000000000007759c419/30/a?subset_id=2&fvd=n3&v=3)
      format("opentype");
  font-weight: 300;
  font-style: normal;
  font-stretch: normal;
  font-display: auto;
}
@font-face {
  font-family: proxima-nova;
  src: url(https://use.typekit.net/af/23e5ba/00000000000000007759c420/30/l?subset_id=2&fvd=n4&v=3)
      format("woff2"),
    url(https://use.typekit.net/af/23e5ba/00000000000000007759c420/30/d?subset_id=2&fvd=n4&v=3)
      format("woff"),
    url(https://use.typekit.net/af/23e5ba/00000000000000007759c420/30/a?subset_id=2&fvd=n4&v=3)
      format("opentype");
  font-weight: 400;
  font-style: normal;
  font-stretch: normal;
  font-display: auto;
}
@font-face {
  font-family: proxima-nova;
  src: url(https://use.typekit.net/af/0f075f/00000000000000007759c41d/30/l?subset_id=2&fvd=n5&v=3)
      format("woff2"),
    url(https://use.typekit.net/af/0f075f/00000000000000007759c41d/30/d?subset_id=2&fvd=n5&v=3)
      format("woff"),
    url(https://use.typekit.net/af/0f075f/00000000000000007759c41d/30/a?subset_id=2&fvd=n5&v=3)
      format("opentype");
  font-weight: 500;
  font-style: normal;
  font-stretch: normal;
  font-display: auto;
}
@font-face {
  font-family: proxima-nova;
  src: url(https://use.typekit.net/af/52475d/00000000000000007759c423/30/l?subset_id=2&fvd=n6&v=3)
      format("woff2"),
    url(https://use.typekit.net/af/52475d/00000000000000007759c423/30/d?subset_id=2&fvd=n6&v=3)
      format("woff"),
    url(https://use.typekit.net/af/52475d/00000000000000007759c423/30/a?subset_id=2&fvd=n6&v=3)
      format("opentype");
  font-weight: 600;
  font-style: normal;
  font-stretch: normal;
  font-display: auto;
}
@font-face {
  font-family: proxima-nova;
  src: url(https://use.typekit.net/af/7f8fd6/00000000000000007759c413/30/l?subset_id=2&fvd=n7&v=3)
      format("woff2"),
    url(https://use.typekit.net/af/7f8fd6/00000000000000007759c413/30/d?subset_id=2&fvd=n7&v=3)
      format("woff"),
    url(https://use.typekit.net/af/7f8fd6/00000000000000007759c413/30/a?subset_id=2&fvd=n7&v=3)
      format("opentype");
  font-weight: 700;
  font-style: normal;
  font-stretch: normal;
  font-display: auto;
}
@font-face {
  font-family: proxima-nova;
  src: url(https://use.typekit.net/af/bd0e3a/00000000000000007758cf8e/30/l?subset_id=2&fvd=i6&v=3)
      format("woff2"),
    url(https://use.typekit.net/af/bd0e3a/00000000000000007758cf8e/30/d?subset_id=2&fvd=i6&v=3)
      format("woff"),
    url(https://use.typekit.net/af/bd0e3a/00000000000000007758cf8e/30/a?subset_id=2&fvd=i6&v=3)
      format("opentype");
  font-weight: 600;
  font-style: italic;
  font-stretch: normal;
  font-display: auto;
}
@font-face {
  font-family: proxima-nova;
  src: url(https://use.typekit.net/af/474f13/00000000000000007758cf7d/30/l?subset_id=2&fvd=i7&v=3)
      format("woff2"),
    url(https://use.typekit.net/af/474f13/00000000000000007758cf7d/30/d?subset_id=2&fvd=i7&v=3)
      format("woff"),
    url(https://use.typekit.net/af/474f13/00000000000000007758cf7d/30/a?subset_id=2&fvd=i7&v=3)
      format("opentype");
  font-weight: 700;
  font-style: italic;
  font-stretch: normal;
  font-display: auto;
}
@font-face {
  font-family: adobe-garamond-pro;
  src: url(https://use.typekit.net/af/ae2c96/00000000000000007735d927/30/l?subset_id=2&fvd=n4&v=3)
      format("woff2"),
    url(https://use.typekit.net/af/ae2c96/00000000000000007735d927/30/d?subset_id=2&fvd=n4&v=3)
      format("woff"),
    url(https://use.typekit.net/af/ae2c96/00000000000000007735d927/30/a?subset_id=2&fvd=n4&v=3)
      format("opentype");
  font-weight: 400;
  font-style: normal;
  font-stretch: normal;
  font-display: auto;
}
@font-face {
  font-family: adobe-garamond-pro;
  src: url(https://use.typekit.net/af/e1c5c9/00000000000000007735d91e/30/l?subset_id=2&fvd=n7&v=3)
      format("woff2"),
    url(https://use.typekit.net/af/e1c5c9/00000000000000007735d91e/30/d?subset_id=2&fvd=n7&v=3)
      format("woff"),
    url(https://use.typekit.net/af/e1c5c9/00000000000000007735d91e/30/a?subset_id=2&fvd=n7&v=3)
      format("opentype");
  font-weight: 700;
  font-style: normal;
  font-stretch: normal;
  font-display: auto;
}
@font-face {
  font-family: adobe-garamond-pro;
  src: url(https://use.typekit.net/af/28328c/00000000000000007735d924/30/l?subset_id=2&fvd=i4&v=3)
      format("woff2"),
    url(https://use.typekit.net/af/28328c/00000000000000007735d924/30/d?subset_id=2&fvd=i4&v=3)
      format("woff"),
    url(https://use.typekit.net/af/28328c/00000000000000007735d924/30/a?subset_id=2&fvd=i4&v=3)
      format("opentype");
  font-weight: 400;
  font-style: italic;
  font-stretch: normal;
  font-display: auto;
}
@font-face {
  font-family: adobe-garamond-pro;
  src: url(https://use.typekit.net/af/095ec6/00000000000000007735d921/30/l?subset_id=2&fvd=i7&v=3)
      format("woff2"),
    url(https://use.typekit.net/af/095ec6/00000000000000007735d921/30/d?subset_id=2&fvd=i7&v=3)
      format("woff"),
    url(https://use.typekit.net/af/095ec6/00000000000000007735d921/30/a?subset_id=2&fvd=i7&v=3)
      format("opentype");
  font-weight: 700;
  font-style: italic;
  font-stretch: normal;
  font-display: auto;
}
@-webkit-keyframes ripple {
  0% {
      -webkit-transform: scale(1);
      transform: scale(1);
      opacity: 0
  }

  30% {
      opacity: 0.40
  }

  100% {
      -webkit-transform: scale(1.5);
      transform: scale(1.5);
      opacity: 0
  }
}
@keyframes ripple {
  0% {
      -webkit-transform: scale(1);
      transform: scale(1);
      opacity: 0
  }

  30% {
      opacity: 0.40
  }

  100% {
      -webkit-transform: scale(1.5);
      transform: scale(1.5);
      opacity: 0
  }
}
@-webkit-keyframes morph {
  0% {
      border-radius: 40% 60% 60% 40% / 60% 30% 70% 40%
  }

  100% {
      border-radius: 40% 60%
  }
}
@keyframes morph {
  0% {
      border-radius: 40% 60% 60% 40% / 60% 30% 70% 40%
  }

  100% {
      border-radius: 40% 60%
  }
}
@-webkit-keyframes vsmorph {
  0% {
      border-radius: var(--morp-value)
  }

  50% {
      border-radius: var(--morp-md-value)
  }

  100% {
      border-radius: 40% 60%
  }
}
@keyframes vsmorph {
  0% {
      border-radius: var(--morp-value)
  }

  50% {
      border-radius: var(--morp-md-value)
  }

  100% {
      border-radius: 40% 60%
  }
}
@-webkit-keyframes vsheromorph {
  0% {
      border-radius: 25% 80% 57% 47% / 53% 60% 43% 52%
  }

  50% {
      border-radius: 40% 60% 60% 40% / 60% 30% 70% 40%
  }

  100% {
      border-radius: 40% 60%
  }
}
@keyframes vsheromorph {
  0% {
      border-radius: 25% 80% 57% 47% / 53% 60% 43% 52%
  }

  50% {
      border-radius: 40% 60% 60% 40% / 60% 30% 70% 40%
  }

  100% {
      border-radius: 40% 60%
  }
}
@-webkit-keyframes morpspin {
  to {
      -webkit-transform: rotate(1turn);
      transform: rotate(1turn)
  }
}
@keyframes morpspin {
  to {
      -webkit-transform: rotate(1turn);
      transform: rotate(1turn)
  }
}
@-webkit-keyframes border-transform {
  0%,
  100% {
      border-radius: 63% 37% 54% 46%/55% 48% 52% 45%
  }

  14% {
      border-radius: 40% 60% 54% 46%/49% 60% 40% 51%
  }

  28% {
      border-radius: 54% 46% 38% 62%/49% 70% 30% 51%
  }

  42% {
      border-radius: 61% 39% 55% 45%/61% 38% 62% 39%
  }

  56% {
      border-radius: 61% 39% 67% 33%/70% 50% 50% 30%
  }

  70% {
      border-radius: 50% 50% 34% 66%/56% 68% 32% 44%
  }

  84% {
      border-radius: 46% 54% 50% 50%/35% 61% 39% 65%
  }
}
@keyframes border-transform {
  0%,
  100% {
      border-radius: 63% 37% 54% 46%/55% 48% 52% 45%;
  }

  14% {
      border-radius: 40% 60% 54% 46%/49% 60% 40% 51%;
  }

  28% {
      border-radius: 54% 46% 38% 62%/49% 70% 30% 51%
  }

  42% {
      border-radius: 61% 39% 55% 45%/61% 38% 62% 39%
  }

  56% {
      border-radius: 61% 39% 67% 33%/70% 50% 50% 30%
  }

  70% {
      border-radius: 50% 50% 34% 66%/56% 68% 32% 44%
  }

  84% {
      border-radius: 46% 54% 50% 50%/35% 61% 39% 65%
  }
}
@-webkit-keyframes moving {
  0% {
      -webkit-transform: translate(0px, 0px);
      transform: translate(0px, 0px)
  }

  20% {
      -webkit-transform: translate(0px, -60px);
      transform: translate(0px, -60px)
  }

  50% {
      -webkit-transform: translate(-60px, -60px);
      transform: translate(-60px, -60px)
  }

  70% {
      -webkit-transform: translate(-60px, 0px);
      transform: translate(-60px, 0px)
  }

  100% {
      -webkit-transform: translate(0px, 0px);
      transform: translate(0px, 0px)
  }
}
@keyframes moving {
  0% {
      -webkit-transform: translate(0px, 0px);
      transform: translate(0px, 0px)
  }

  20% {
      -webkit-transform: translate(0px, -60px);
      transform: translate(0px, -60px)
  }

  50% {
      -webkit-transform: translate(-60px, -60px);
      transform: translate(-60px, -60px)
  }

  70% {
      -webkit-transform: translate(-60px, 0px);
      transform: translate(-60px, 0px)
  }

  100% {
      -webkit-transform: translate(0px, 0px);
      transform: translate(0px, 0px)
  }
}
@-webkit-keyframes arrow-left {
  0% {
      -webkit-transform: translateX(0);
      transform: translateX(0)
  }

  20% {
      -webkit-transform: translateX(-20px);
      transform: translateX(-20px)
  }

  40% {
      -webkit-transform: translateX(0);
      transform: translateX(0)
  }

  60% {
      -webkit-transform: translateX(-20px);
      transform: translateX(-20px)
  }

  100% {
      -webkit-transform: translateX(0);
      transform: translateX(0)
  }
}
@keyframes arrow-left {
  0% {
      -webkit-transform: translateX(0);
      transform: translateX(0)
  }

  20% {
      -webkit-transform: translateX(-20px);
      transform: translateX(-20px)
  }

  40% {
      -webkit-transform: translateX(0);
      transform: translateX(0)
  }

  60% {
      -webkit-transform: translateX(-20px);
      transform: translateX(-20px)
  }

  100% {
      -webkit-transform: translateX(0);
      transform: translateX(0)
  }
}
@-webkit-keyframes arrow-right {
  0% {
      -webkit-transform: translateX(0);
      transform: translateX(0)
  }

  20% {
      -webkit-transform: translateX(20px);
      transform: translateX(20px)
  }

  40% {
      -webkit-transform: translateX(0);
      transform: translateX(0)
  }

  60% {
      -webkit-transform: translateX(20px);
      transform: translateX(20px)
  }

  100% {
      -webkit-transform: translateX(0);
      transform: translateX(0)
  }
}
@keyframes arrow-right {
  0% {
      -webkit-transform: translateX(0);
      transform: translateX(0)
  }

  20% {
      -webkit-transform: translateX(20px);
      transform: translateX(20px)
  }

  40% {
      -webkit-transform: translateX(0);
      transform: translateX(0)
  }

  60% {
      -webkit-transform: translateX(20px);
      transform: translateX(20px)
  }

  100% {
      -webkit-transform: translateX(0);
      transform: translateX(0)
  }
}
